<div *ngIf="workout" class="workout at_workout">    
    <span class="at_workout_date workout-date">Date:{{workout.workoutDate|date:"MM/dd/yyyy"}}</span>
    <br>
    <div *ngIf="workout.setGroups" class="row">
        <div class="workout-heading">
            <div class="col-sm-4">
                <span>Set</span>            
            </div>
            <div class="col-sm-4">
                <span>Weight</span>            
            </div>
            <div class="col-sm-4">
                <span>Reps</span>            
            </div>
        </div>        
    </div>
    <br>  
    <div *ngFor="let setGroup of workout.setGroups" class="row">
        <set-list [setGroup]="setGroup"></set-list>
        <br>
    </div>
</div>