<div *ngIf="workout" class="workout at_workout">    
    <span class="at_lbl_workout_date workout-date">Date:{{workout.workoutDate|date:"MM/dd/yyyy"}}</span>
    <br>
    <div *ngIf="workout.setGroups" class="row">
        <div class="workout-heading">
            <div class="col-sm-4">
                <span class="at_lbl_set">Set</span>            
            </div>
            <div class="col-sm-4">
                <span class="at_lbl_weight">Weight</span>            
            </div>
            <div class="col-sm-4">
                <span class="at_lbl_reps">Reps</span>            
            </div>
        </div>        
    </div>
    <br>  
    <div class="div">
        <set-group-list [setGroups]="workout.setGroups"
        (setSelectedEvent)="setSelected($event)"></set-group-list>
        <button *ngIf="selectedSet" (click)="deleteSet()"
            class="btn btn-primary at_btn_delete_set">Delete Set</button>
    </div>
</div>