<div *ngIf="set" >
    <div >
        <div class="col-sm-4">
            <span>{{set.number}}</span>            
        </div>
        <div class="col-sm-4">
            <span>{{set.weight}}</span>          
        </div>
        <div class="col-sm-4">
            <span>{{set.reps}}</span>            
        </div>  
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <my-detail [exercise]="set.Details"></my-detail>
            </div>        
        </div>   
    </div>
</div>