<div *ngIf="set" [class.selectedSet]="isSelected">
    <div >
        <div class="col-sm-4">
            <span  class='at_lbl_set_number'>{{set.number}}</span>            
        </div>
        <div class="col-sm-4">
            <span class='at_lbl_set_weight'>{{set.weight}}</span>          
        </div>
        <div class="col-sm-4">
            <span class='at_lbl_set_reps'>{{set.reps}}</span>            
        </div>  
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <my-detail [exercise]="set.Details"></my-detail>
            </div>        
        </div>   
    </div>
</div>