.exercise-button {
    width: 15rem;
    font-size: medium;
    font-weight: bold;
    margin: 0.8em .8em 0 0;
}

.nobullets{
    list-style:none;
}

ul.noindent {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

span.active{
    background-color: red;
}