<div class="container ">
  <div class="row">
    <div class="col-md-6">
      <exercise-selection *ngIf="set"
              (exerciseSelected)="onExerciseSelected($event)" 
              (bodyPartSelected)="onBodyPartSelected($event)">
      </exercise-selection>
    </div>
    <div *ngIf="set && set.exercise" class="col-md-3" >
      <h2>Set Details</h2>
      <form >    
        <div class="form-group">
          <label for="weight">Weight</label>
          <input [(ngModel)]="set.weight" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="reps">Reps</label>
          <input [(ngModel)]="set.reps" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-success" (click)="submit()">Submit</button>
      </form>
    </div>
  </div>
</div>